/*
Uma pseudo-classe é usada para definir uma estilização para um estado especial de um elemento.
Assim como podemos combinar pseudo-classes com seletores de classe ou elementos.
*/

/*
ACTIVE: Seleciona um link ativo
*/

a:active{
    background-color: red;
}

/*
:hover = Seleciona elemento que o usuário passa o mouse
*/

button:hover{
    background-color: darkgreen;
}

/*
:visited = Seleciona links visitados
*/

a:visited{
    background-color: darkorange;
}

/*
OUTRAS PSEUDO-CLASSES CSS
:checked = Seleciona botões e caixas de seleção de input
:disabled = Seleciona elementos de formulário desativados
:empty = Seleciona elementos que não tem filhos
:enabled = Seleciona elementos habilitados em formulário
:first-child = Seleciona o primeiro elemento filho do seletor pai
:first-of-type = Seleciona o primeiro elemento filho do tipo de seu seletor pai
:focus = Seleciona elemento de entrada selecionado pelo usuário 
:in-range = Seleciona elementos com um valor dentro de um intervalo
:invalid = Seleciona elementos de formulário com valor inválido
:lang() = Seleciona elementos com o atributo lang com um valor específico
:last-child = Seleciona o elemento que é o último filho de seu seletor pai
:last-of-type = Seleciona o último elemento filho do tipo de seu seletor pai
:link = Seleciona links não visitados
:not() = Seleciona todo elemento que não é o especificado
:nth-child() = Seleciona cada elemento especificado que é o n filho de seu seletor pai
:nth-last-child() = Seleciona o elemento n que é filho de seu pai a contar do último filho
:nth-last-of-type() = Seleciona o elemento n filho do seletor pai e de mesmo tipo dele a contar do último filho
:nth-of-type() = Seleciona o elemento n do mesmo tipo de seu seletor pai
:only-of-type = Seleciona o elemento que é filho único e do mesmo tipo de seu seletor pai
:only-child = Seleciona o elemento que é filho único de seu seletor pai
:optional = Seleciona elementos do formulário que são opcionais
:out-of-range = Seleciona todos os elementos que estão fora de um intervalo especificado
:read-only = Seleciona elementos de formulário que são somente de leitura
:read-write = Seleciona elementos de formulário que são preenchíveis
:required = Seleciona elementos de formulário que são necessários
:root = Seleciona o elemento raiz do documento
:target = Seleciona o estado de um link ativo atual
:valid = Seleciona elementos de formulário que valida de acordo com as configurações do elemento
*/