/*
É usado para criar regras mais específicas de seleção aplicando o estilo em elementos específicos com um valor de class específico.
*/
p.paragrafo{
    font-size: 20px;
}

.paragrafo{
    background-color: cadetblue;
}

p{
    color: chartreuse;
}